
.header {
    grid-area: header;
    background: #b6ee8f;
}

.header img {
    width: 74px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}

.loginStyle {
    padding: 17px;
    font-size: 20px;
    font-weight: 700;
}