
.nav {
    grid-area: nav;
    background: #ecc659;
    padding: 20px;
}

.item a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    /*сам добавил*/
}

.item a.activeLink {
    color: #761bf5;
}